<div>
    <a ui-sref="messages" class="pull-right btn btn-primary btn-outline btn-rounded">Messages</a>
    <h3>Message <small>Add/Remove Message</small></h3>


    <div class="jumbotron box">

        <h4>Title and details</h4>




        <div class="container" >

            <h6>Name</h6>

            <input k-content style="width: 100%" ng-model="model.name">



        </div>

        <div class="container" >

            <h6>UserName</h6>

            <input k-content style="width: 100%" ng-model="model.username">



        </div>

        <div class="container" >

            <h6>Subject</h6>

            <input k-content style="width: 100%" ng-model="model.subject">



        </div>

        <div class="container" >


            <h6>Description</h6>
            <textarea kendo-editor k-ng-model="model.content"></textarea><br>

        </div>



    </div>

    <div class="container">
        <button ng-click="publishMessage()" class="k-primary">Publish</button>
    </div>


</div>

