<div>
    <a ui-sref="letsplay" class="pull-right btn btn-primary btn-outline btn-rounded">Letsplay</a>
    <h3>Letsplay <small>Add/Remove Letsplay</small></h3>
    <div class="jumbotron box">
<h4>Picture</h4>



        <div class="container" >
            <h6>Show in slider</h6>
            <input class="k-content" type="checkbox" name="vehicle" ng-model="model.is_feed">
            <br>
            <br>
            <div>
                <div >
                    <h6> Select Cover Image</h6>  <br>
                    <input name="sampleFile"
                           kendo-upload
                           k-options="mainUploadOptions"
                           type="file" />
                    <p>Width=280px
                    <br>
                    Height=392px</p>
                </div>
            </div>



        </div>


    </div>

    <div class="jumbotron box">

        <h4>Title and details</h4>



        <div class="container" >
            <h6>Title</h6>
            <input k-content style="width: 100%" ng-model="model.title">
            <br>
            <h6>Short Title</h6>
            <input k-content style="width: 100%" ng-model="model.short_title">
            <br>

            <h6>Alternate Title</h6>
            <input k-content style="width: 100%" ng-model="model.alternate_title">
            <br>


            <h6>Release Date</h6>
            <input kendo-date-picker
                   style="width: 100%;"
                   k-ng-model="model.release_date"
            />


            <h6>Description</h6>
            <textarea kendo-editor k-ng-model="model.content"></textarea><br>

            <h6>Tags</h6>
            <select kendo-multi-select k-options="selectOptionsTags" k-ng-model="selectedTags" style="width: 100%;"></select>



        </div>


    </div>


    <div class="jumbotron box">

        <h4>Additional Information</h4>



        <div class="container" >
            <h6>Number of Episodes</h6>
            <input kendo-numeric-text-box k-min="0" k-max="100" k-ng-model="model.episodes_number" style="width: 100%;" />
            <br>
            <h6>Length (mins)</h6>
            <input kendo-numeric-text-box k-min="0" k-max="500" k-ng-model="model.length" style="width: 100%;" />
            <br>

            <h6>Genre</h6>
            <select kendo-multi-select k-options="selectOptionsGenre" k-ng-model="selectedGenre" style="width: 100%;"></select>
            <br>

            <h6>Censored?</h6>
            <input class="k-content" type="checkbox" name="vehicle" ng-model="model.is_censored">
            <br>


            <h6>Channel</h6>
            <input k-content style="width: 100%" ng-model="model.chanel">
            <br>


        </div>


    </div>
    <div class="jumbotron box">

        <h4>Screenshots</h4>



        <div class="container" >
            <h6>Screenshots</h6>
            <input name="sampleFile"
                   kendo-upload
                   k-options="mainUploadOptionsScreen"
                   type="file" />


        </div>


    </div>
    <div class="jumbotron box">

        <div class="container" >
            <button ng-click="publishLetsplay()" class="k-primary">Publish</button>

        </div>
    </div>
</div>

