<div>
    <a ui-sref="letsplay" class="pull-right btn btn-primary btn-outline btn-rounded">Letslpay</a>
    <h3>Letsplay <small>Edit Letsplay</small></h3>
    <div class="jumbotron box">
<!--
    <button class="k-primary" style="margin-left: 15px">Edit</button>
-->



        <div class="container" >

                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <img width="380" height="500" ng-src="{{itemLetsplay.image_url}}" alt="" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <h4>
                                    {{itemLetsplay.title}}</h4>

                                <p>
                                    <small><i  ></i>Short Title : <label>{{itemLetsplay.short_title}}</label>
                                    <br /></small>
                                    <small><i  ></i>Alternate Title : <label>{{itemLetsplay.alternate_title}}</label>
                                    <br /></small>
                                    <small><i  ></i>Release Date : <label>{{itemLetsplay.release_date}}</label>
                                    <br /></small>
                                    <small><i  ></i>Seasons
                                    <br /></small>
                                    <small><i  ></i>Episodes : <label>{{itemLetsplay.episodes_number}}</label>
                                    <br /></small>
                                    <small><i  ></i>Length : <label>{{itemLetsplay.length}}</label>
                                    <br /></small>
                                    <small><i  ></i>Censorship : <label>{{itemLetsplay.is_censored}}</label>
                                    <br /></small>
                                    <small><i  ></i>Genre :<label ng-repeat="item in itemLetsplay.genre"> {{item.title}} </label>
                                    <br /></small>
                                    <small><i  ></i>Tags :<label ng-repeat="item in itemLetsplay.tags"> {{item.title}} </label>
                                    <br /></small>
                                    <small><i  ></i>Channel : <label>{{itemsLetsplay.chanel}}</label>
                                    <br /></small>
                                   </p>
                                <!-- Split button -->

                            </div><!--
                            <h6>Description</h6>
                            <p></p>-->
                        </div>
                    </div>



                </div>

        <div class="container">
            <p ng-bind-html="content"></p>
        </div>

    </div>


    <div class="jumbotron box">

        <add-episode
            object-list="itemLetsplay.episodes"
        ></add-episode>


    </div>
    <div class="jumbotron box">
        <div class="container">
            <button ng-click="UpldateLetsPlay()" class="k-primary">Publish</button>
        </div>

    </div>






</div>

