<md-toolbar class="md-hue-2" layout-align="start start">

    <div class="md-toolbar-tools"  layout="row">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" style="float: right">
            <md-icon >list</md-icon>
        </md-button>
        <h2>
            <span>Shopping Ninja</span>
        </h2>
        <span flex=""></span>

        <md-button layout-align="end end" class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" style="float: right">
            <md-icon >add_shopping_cart</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content >
    <div ui-view>

    </div>

</md-content>

<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>
<md-content>
    <md-list flex="">
        <md-subheader class="md-no-sticky">PAGES</md-subheader>
        <md-list-item class="md-3-line"  ng-click="$state.go('home')">
            <div class="md-list-item-text" layout="column">
                <a ui-sref="home">Home <span class="sr-only"></span></a>
            </div>
        </md-list-item>
        <md-divider></md-divider>

        <md-list-item class="md-3-line"  ng-click="$state.go('receipt')">
            <div class="md-list-item-text" layout="column">
                <a ui-sref="receipt">Receipt <span class="sr-only"></span></a>
            </div>
        </md-list-item>
        <md-divider></md-divider>

        <md-list-item class="md-3-line"  ng-click="$state.go('addproduct')">
            <div class="md-list-item-text" layout="column">
                <a ui-sref="addproduct">Add Product <span class="sr-only"></span></a>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line"  ng-click="toggleLeft()">
            <div class="md-list-item-text" layout="column">
                <md-button ng-click="toggleLeft()" class="md-raised">
                    Toggle Sidenav
                </md-button>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</md-content>



</md-sidenav>

