<div>
    <a ui-sref="faqs" class="pull-right btn btn-primary btn-outline btn-rounded">FAQs</a>
    <h3>FAQs <small>Add/Remove FAQs</small></h3>
    <div class="jumbotron box">
        <h4>FAQs</h4>



        <div class="container" >

            <h6>Question</h6>

            <input k-content style="width: 100%" ng-model="model.title">





        </div>
        <div class="container" >

            <h6>Answere</h6>

            <textarea kendo-editor k-ng-model="model.content"></textarea>





        </div>

        <div class="container" >

            <h6>Category</h6>

            <input k-content style="width: 100%" ng-model="model.category">




        </div>


        <div class="container">
            <button ng-click="publishFaq()" class="k-primary">Publish</button>
        </div>
    </div>
</div>

