<div>
    <a ui-sref="profiles" class="pull-right btn btn-primary btn-outline btn-rounded">Profiles</a>
    <h3>Profiles <small>Edit Profiles</small></h3>
    <div class="jumbotron box">
        <h4>Profiles</h4>



        <div class="container" >

            <h6>Username</h6>

            <input k-content style="width: 100%" ng-model="model.name">





        </div>
        <div class="container" >

            <h6>User Role</h6>

            <input k-content style="width: 100%" ng-model="model.userrole">





        </div>





        <div class="container">
            <button ng-click="publishProfile()" class="k-primary">Update</button>
        </div>
    </div>
</div>

