<div>
    <a ui-sref="games" class="pull-right btn btn-primary btn-outline btn-rounded">Games</a>
    <h3>Games <small>Add Games</small></h3>
    <div class="jumbotron box">
        <h4>Picture</h4>



        <div class="container" >
            <h6>Show in slider</h6>
            <input class="k-content" type="checkbox" name="vehicle" ng-model="model.is_feed">
            <br>
            <br>
            <div>
                <div >
                    <h6> Select Cover Image</h6>  <br>
                    <input name="sampleFile"
                           kendo-upload
                           k-options="mainUploadOptions"
                           type="file" />

                    <p>Width=390px
                        <br>
                        Height=294px</p>
                </div>
            </div>



        </div>


    </div>

    <div class="jumbotron box">

        <h4>Title and details</h4>



        <div class="container" >
            <h6>Title</h6>
            <input k-content style="width: 100%" ng-model="model.title">
            <br>
            <h6>Studio</h6>
            <input k-content style="width: 100%" ng-model="model.studio">
            <br>

            <h6>Series</h6>
            <input k-content style="width: 100%" ng-model="model.series">
            <br>
            <h6>OS</h6>
            <input k-content style="width: 100%" ng-model="model.os">
            <br>


            <h6>Release Date</h6>
            <input kendo-date-picker
                   style="width: 100%;"
                   k-ng-model="model.release_date"
            />


            <h6>Description</h6>
            <textarea kendo-editor k-ng-model="model.content"></textarea><br>

            <h6>Languages</h6>
            <select kendo-multi-select k-options="selectOptionsLanguage" k-ng-model="selectedLanguage" style="width: 100%;"></select>

            <h6>Genre</h6>
            <select kendo-multi-select k-options="selectOptionsGenre" k-ng-model="selectedGenre" style="width: 100%;"></select>
            <br>
            <h6>Category</h6>
            <select kendo-multi-select k-options="selectOptionsCategories" k-ng-model="selectedCategories" style="width: 100%;"></select>

            <h6>Tags</h6>
            <select kendo-multi-select k-options="selectOptionsTags" k-ng-model="selectedTags" style="width: 100%;"></select>
            <br>



        </div>


    </div>


    <div class="jumbotron box">

        <h4>Operational Requirement</h4>



        <div class="container" >
            <h6>File/Size</h6>
            <input k-content style="width: 100%" ng-model="model.file_size">
            <br>

            <h6>CPU</h6>
            <input k-content style="width: 100%" ng-model="model.cpu">
            <br>


            <h6>Memory</h6>
            <input k-content style="width: 100%" ng-model="model.memory">
            <br>


            <h6>DirectX</h6>
            <input k-content style="width: 100%" ng-model="model.directx">
            <br>

            <h6>Trailer Link (Embedded)</h6>
            <input k-content style="width: 100%" ng-model="model.trailer_link">
            <br>


        </div>


    </div>
    <div class="jumbotron box">

        <h4>Screenshots</h4>



        <div class="container" >
            <h6>Screenshots</h6>
            <input name="sampleFile"
                   kendo-upload
                   k-options="mainUploadOptionsScreen"
                   type="file" />


        </div>



    </div>
    <div class="jumbotron box">

        <h4>External Links</h4>



        <div class="container" >

            <h6>Steam Link</h6>
            <input k-content style="width: 100%" ng-model="model.steam_url">
            <br>

            <h6>Amazon</h6>
            <input k-content style="width: 100%" ng-model="model.amazon_url">
            <br>

            <h6>Gamestop</h6>
            <input k-content style="width: 100%" ng-model="model.gamestop_url">
            <br>



        </div>



    </div>

    <div class="jumbotron box">
    <div class="container">
        <button class="k-primary" ng-click="publishGames()">Publish</button>
    </div>
    </div>

</div>

