<div>
    <a ui-sref="news" class="pull-right btn btn-primary btn-outline btn-rounded">News</a>
    <h3>News <small>Add/Remove News</small></h3>
    <div class="jumbotron box">
        <h4>Picture</h4>



        <div class="container" >
            <h6>Show in Feed</h6>
            <input class="k-content" type="checkbox" name="vehicle" ng-model="model.is_feed">
            <br>
            <br>
            <div>
                <div >
                    <h6> Select Cover Image</h6>  <br>
                    <input name="sampleFile"
                           kendo-upload
                           k-options="mainUploadOptions"
                           type="file" />

                    <p>Width=390px
                        <br>
                        Height=294px</p>
                </div>
            </div>



        </div>


    </div>

    <div class="jumbotron box">

        <h4>Title and details</h4>



        <div class="container" >
            <h6>Title</h6>
            <input k-content style="width: 100%" ng-model="model.title">
            <br>


            <h6>Description</h6>
            <textarea kendo-editor k-ng-model="model.content"></textarea><br>

            <h6>Tags</h6>
            <select kendo-multi-select k-options="selectOptionsTags" k-ng-model="selectedTags" style="width: 100%;"></select>
            <br>



        </div>


    </div>

    <div class="jumbotron box">
        <div class="container">
            <button class="k-primary" ng-click="publishNews()">Publish</button>
        </div>
    </div>

</div>

