<div>


        <div class="jumbotron box">

            <h4>Title and details</h4>



            <div class="container" >
                <h6>Product Title</h6>
                <input k-content style="width: 100%" ng-required="{{validatorServer.companyName}}" ng-model="model.companyName">
                <br>



                <h6>Product Type</h6>
                <select kendo-drop-down-list  ng-required="{{validatorServer.companyType}}" k-options="selectOptionsCompanyType" k-ng-model="model.companyType"  style="width: 100%;"></select>
                <br>

                <h6>Product Description</h6>
                <textarea kendo-editor k-ng-model="model.companyDescription" ng-required="{{validatorServer.companyDescription}}"></textarea><br>
                <br>



            </div>


        </div>



        <div class="jumbotron box" ng-if="true">

            <h4>Add Images</h4>



            <div class="container" >

                <add-form-feild
                    object-list="model.customFeilds"

                ></add-form-feild>


            </div>



        </div>


        <div class="jumbotron box">
            <div class="container">
                <button class="k-primary"  class="k-button k-primary" type="submit" >Publish</button>
            </div>
        </div>


