<div>


        <div class="jumbotron box">

            <h4>Title and details</h4>



            <div class="container" >
                <h6>Product Title</h6>
                <input k-content style="width: 100%"  ng-model="model.title">
                <br>

            <h6>Product Price</h6>
                <input k-content style="width: 100%"  ng-model="model.price">
                <br>





                <h6>Product Description</h6>
                <textarea kendo-editor k-ng-model="model.description"></textarea><br>
                <br>



            </div>


        </div>



        <!--<div class="jumbotron box" ng-if="true">-->

            <!--<h4>Add Images</h4>-->



            <!--<div class="container" >-->

                <!--<add-form-feild-->
                    <!--object-list="model.customFeilds"-->

                <!--&gt;</add-form-feild>-->


            <!--</div>-->



        <!--</div>-->


        <div class="jumbotron box">
            <div class="container">
                <button class="k-primary"  class="k-button k-primary" ng-click="publishProduct()" >Publish</button>
            </div>
        </div>


