<div>
    <a ui-sref="home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <h3>Masterdata <small>Add/Remove Masterdata</small></h3>
    <div class="jumbotron box">



        <div class="container" >

            <table width="100%">
                <tr>
                    <th><h6><b>Host</b></h6></th>
                    <th><h6><b>IconUrl</b></h6></th>
                    <th><h6><b>Typename</b></h6></th>
                </tr>
                <tr>
                    <td><p style="padding: -10px">youtube.com</p></td>
                    <td><input k-content style="width: 100%" ng-model="model.youtube.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.youtube.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(0)">Save</button> </td>

                </tr>
                <tr>
                    <td><p style="padding: -10px">vimeo.com</p></td>
                    <td><input k-content style="width: 100%" ng-model="model.vimeo.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.vimeo.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(1)">Save</button> </td>

                </tr>
                <tr>
                    <td><p style="padding: -10px">dailymotion.com</p></td>
                    <td><input k-content style="width: 100%" ng-model="model.dailymotion.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.dailymotion.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(2)">Save</button> </td>

                </tr>
                <tr>
                    <td><p style="padding: -10px">myvideo.de</p></td>
                    <td><input k-content style="width: 100%" ng-model="model.myvideo.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.myvideo.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(3)">Save</button> </td>

                </tr>
                <tr>
                    <td><p style="padding: -10px">clipfish.com</p></td>
                    <td><input k-content style="width: 100%" ng-model="model.clipfish.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.clipfish.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(4)">Save</button> </td>

                </tr>
                <tr>
                    <td><p style="padding: -10px">twitch.tv</p></td>
                    <td><input k-content style="width: 100%"  ng-model="model.twitch.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.twitch.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(5)">Save</button> </td>

                </tr>
                <tr>
                    <td><p style="padding: -10px">sevenload.com</p></td>
                    <td><input k-content style="width: 100%" ng-model="model.sevenload.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.sevenload.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(6)">Save</button> </td>

                </tr>

            </table>


        </div>


    </div>

    <div class="jumbotron box">

        <h4>Create Category</h4>

        <div class="container" >
    <add-object
        on-key-down="saveCategory"
        object-list="model.categories"
        on-remove="removeCategory">

    </add-object>



        </div>


    </div>

    <div class="jumbotron box">

        <h4>Create Genre</h4>



        <div class="container" >
            <add-object
                on-key-down="saveGenre"
                object-list="model.genre"
                on-remove="removeGenre">

            </add-object>




        </div>

    </div>


    <div class="jumbotron box">

        <h4>Create Tags</h4>



        <div class="container" >
            <add-object
                on-key-down="saveTag"
                object-list="model.tags"
                on-remove="removeTag">

            </add-object>






        </div>

    </div>
    <div class="jumbotron box">

        <h4>Create LinkTypes</h4>



        <div class="container" >

            <add-object
                on-key-down="saveLinkType"
                object-list="model.linktype"
                on-remove="removeLinkType">

            </add-object>






        </div>

    </div>

    <div class="jumbotron box">

        <h4>Create Language</h4>



            <div class="container" >
            <add-language-object
                object-list="model.language"
                on-key-down="saveLanguage"
                on-remove="removeLanguage"
            ></add-language-object>

        </div>

    </div>


</div>

